<placeholder #day_1 (click)="test(day_1)"  [day]="1" [month]="" [year]=""></placeholder>
<placeholder #day_2  (click)="test(day_2)"  [day]="2" [month]="" [year]=""></placeholder>
<placeholder #day_3  (click)="test(day_3)"  [day]="3" [month]="" [year]=""></placeholder>
<placeholder #day_4  (click)="test(day_4)"  [day]="4" [month]="" [year]=""></placeholder>
<placeholder #day_5  (click)="test(day_5)"  [day]="5" [month]="" [year]=""></placeholder>
<placeholder #day_6  (click)="test(day_6)"  [day]="6" [month]="" [year]=""></placeholder>
<placeholder #day_7  (click)="test(day_7)"  [day]="7" [month]="" [year]=""></placeholder>
<placeholder #day_8  (click)="test(day_8)"  [day]="8" [month]="" [year]=""></placeholder>
<placeholder #day_9  (click)="test(day_9)"  [day]="9" [month]="" [year]=""></placeholder>
<placeholder #day_10  (click)="test(day_10)"  [day]="10" [month]="" [year]=""></placeholder>
<placeholder #day_11  (click)="test(day_11)"  [day]="11" [month]="" [year]=""></placeholder>
<placeholder #day_12  (click)="test(day_12)"  [day]="12" [month]="" [year]=""></placeholder>


{{ checkin_date | async }}